{{> head}}
{{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Batman</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Reprehenderit ut harum quo consectetur, molestiae officia quas
            qui ab tempora id nemo aperiam voluptas eligendi tenetur, dolor
            exercitationem neque ipsam quidem?
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/batman.png" class="img-thumbnail" alt="">
    </div>
</div>

{{> footer }}